<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Navbar Area -->
    <div class="mag-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="magNav">

                <!-- Nav brand -->
                <a href="/home" class="nav-brand">MM</a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Nav Content -->
                <div class="nav-content d-flex align-items-center">
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                {{#each categories}}
                                <li>
                                    <a href="#">
                                        {{name}}
                                    </a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="">{{subCategory}}</a>
                                        </li>
                                    </ul>
                                </li>
                                {{/each}}
                                <li><a href="/home/about">About</a></li>
                                <li><a href="/home/contact">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <div class="top-meta-data d-flex align-items-center">
                        <!-- Top Search Area -->
                        <div class="top-search-area">
                            <form action="/search" method="POST">
                                <input type="search" name="search" id="topSearch" placeholder="Search and hit enter...">
                                <button type="submit" class="btn"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- Login -->
                        {{#if user }}
                        <a href="#" class="login-btn">
                            <i class="fa fa-user" aria-hidden="true">
                                {{ user.name }}
                            </i>
                        </a>

                        {{#ifvalue user.role equals="ADMIN"}}
                        <!-- Logout -->
                        <a href="/employee/admins/logout" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span>
                            <span class="video-text">Logout</span></a>
                        {{/ifvalue}}
                        {{#ifvalue user.role equals="WRITER"}}
                        <!-- Logout -->
                        <a href="/employee/writers/logout" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span>
                            <span class="video-text">Logout</span></a>
                        {{/ifvalue}}
                        {{#ifvalue user.role equals="EDITOR"}}
                        <!-- Logout -->
                        <a href="/employee/editors/logout" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span>
                            <span class="video-text">Logout</span></a>
                        {{/ifvalue}}
                        <!-- Logout -->
                        <a href="/guests/logout" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span>
                            <span class="video-text">Logout</span></a>
                        {{else}}
                        <a href="/guests/login" class="login-btn">
                            <i class="fa fa-user" aria-hidden="true">
                                Log In
                            </i>
                        </a>
                        <!-- Logout -->
                        <a href="/guests/register" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span>
                            <span class="video-text">Sign Up</span></a>

                        {{/if}}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->