<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

{{#each errors}}
<div class="alert alert-danger" style="text-align: center;">
    {{ msg }}
</div>
{{/each}}
{{#if message}}
<div class="alert alert-danger" style="text-align: center;">
    {{ message }}
</div>
{{/if}}

<!-- ##### Login Area Start ##### -->
<div class="mag-login-area py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Great to have you back!</h5>
                    </div>

                    <form action="/guests/login" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="Enter Email" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Enter Password" />
                        </div>
                        <button type="submit" class="btn mag-btn mt-30">Login</button>
                    </form>
                    <p class="lead mt-4">
                        No Account? <a href="/guests/register">Register</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Login Area End ##### -->