<div class="container mt-5">
  <div class="m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>What is your role ?</p>
      <a href="/employee/writers/dashboard" class="btn btn-primary btn-block mb-2">
        Writer
      </a>
      <a href="/employee/editors/dashboard" class="btn btn-secondary btn-block">
        Editor
      </a>
      <a href="/employee/admins/dashboard" class="btn btn-warning btn-block">
        Admin
      </a>
    </div>
  </div>
</div>