<div class="container mt-5">
  <div class="m-auto">
    <h1><i class="fab fa-node-js fa-3x"></i></h1>
    <h4 class="text-center mb-3">What is your role ?</h4>
    <div class="box-role">
      <div class="writer">
        <a 
          style="
            text-decoration: none;
            color:#fff;
            text-transform:uppercase
            " href="/employee/writers/login">
          Writer
        </a>
      </div>
      <div class="editor-box">
        <a 
          style="
            text-decoration: none;
            color:#fff;
            text-transform:uppercase
            " href="/employee/editors/login">
          Editor
        </a>
      </div>
      <div class="admin">
        <a 
          style="
            text-decoration: none;
            color:#fff;
            text-transform:uppercase
            " href="/employee/admins/login">
          Admin
        </a>
      </div>
    </div>

  </div>
</div>