<!-- modal -->
<div class="modal fade" id="sign-out">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Want to leave?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Press logout to leave
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Logout</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-tag">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Tag</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row ml-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Tên tag</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Thêm tag</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-tag">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Tag</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row ml-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Tên tag</label>
                        <input type="text" class="form-control" value="Edit tag">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Edit tag</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->



<!-- Main content-->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats card-common">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">list_alt</i>
                        </div>
                        <p class="card-category">Bài viết</p>
                        <h3 class="card-title">49/50

                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="#pablo">Draft</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats card-common">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">public</i>
                        </div>
                        <p class="card-category">Bài đăng</p>
                        <h3 class="card-title">10</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>Xuất bản
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats card-common">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <p class="card-category">Nhân viên</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">account_circle</i> Danh sách
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats card-common">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">face</i>
                        </div>
                        <p class="card-category">Độc giả</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">supervisor_account</i> Danh sách
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-common">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Quản lý:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">bookmark_border</i> Tags
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">category</i> Category
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Thời sự</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Add Tag"
                                                    class="btn btn-success btn-link btn-sm" data-toggle="modal"
                                                    data-target="#add-tag">
                                                    <i class="material-icons">add</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Tag"
                                                    class="btn btn-warning btn-link btn-sm" data-toggle="modal"
                                                    data-target="#edit-tag">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-link btn-sm">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Kinh tế</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Add Tag"
                                                    class="btn btn-success btn-link btn-sm" data-toggle="modal"
                                                    data-target="#add-tag">
                                                    <i class="material-icons">add</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Tag"
                                                    class="btn btn-warning btn-link btn-sm" data-toggle="modal"
                                                    data-target="#edit-tag">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-link btn-sm">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Pháp luật
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Add Tag"
                                                    class="btn btn-success btn-link btn-sm" data-toggle="modal"
                                                    data-target="#add-tag">
                                                    <i class="material-icons">add</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Tag"
                                                    class="btn btn-warning btn-link btn-sm" data-toggle="modal"
                                                    data-target="#edit-tag">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-link btn-sm">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Giáo dục
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Add Tag"
                                                    class="btn btn-success btn-link btn-sm" data-toggle="modal"
                                                    data-target="#add-tag">
                                                    <i class="material-icons">add</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Tag"
                                                    class="btn btn-warning btn-link btn-sm" data-toggle="modal"
                                                    data-target="#edit-tag">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-link btn-sm">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sống
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Add Category"
                                                    class="btn btn-success btn-link btn-sm">
                                                    <i class="material-icons">add</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Category"
                                                    class="btn btn-warning btn-link btn-sm">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-link btn-sm">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Kinh doanh</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Add Category"
                                                    class="btn btn-success btn-link btn-sm">
                                                    <i class="material-icons">add</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Edit Category"
                                                    class="btn btn-warning btn-link btn-sm">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-link btn-sm">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card card-common">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Quản lý nhân viên</h4>
                        <p class="card-category">Nhân viên mới 1/5/2019</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">

                                <th>ID</th>
                                <th>Name</th>
                                <th>Salary</th>
                                <th>Country</th>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Quang Le</td>
                                    <td>$36,738</td>
                                    <td>Vietnam</td>
                                    <td><span class="badge badge-success w-75 py-2">Phân công</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Thai Le</td>
                                    <td>$33,789</td>
                                    <td>Vietnam</td>
                                    <td><span class="badge badge-success w-75 py-2">Phân công</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Si Huynh</td>
                                    <td>$36,142</td>
                                    <td>Vietnam</td>
                                    <td><span class="badge badge-success w-75 py-2">Phân công</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Huynh Le</td>
                                    <td>$36,142</td>
                                    <td>Vietnam</td>
                                    <td><span class="badge badge-success w-75 py-2">Phân công</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card card-common">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Quản lý bài viết</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Tên bài</th>
                                <th>Tác giả</th>
                                <th>Ngày đăng</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Bài viết số 1</td>
                                    <td>Quang Le</td>
                                    <td>30/04/2019</td>
                                    <td><span class="badge badge-success w-75 py-2">Xuất bản</span></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Bài viết số 1</td>
                                    <td>Quang Le</td>
                                    <td>30/04/2019</td>
                                    <td><span class="badge badge-danger w-75 py-2">Draft</span></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Bài viết số 1</td>
                                    <td>Quang Le</td>
                                    <td>30/04/2019</td>
                                    <td><span class="badge badge-success w-75 py-2">Xuất bản</span></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Bài viết số 1</td>
                                    <td>Quang Le</td>
                                    <td>30/04/2019</td>
                                    <td><span class="badge badge-danger w-75 py-2">Draft</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content-->