<!-- modal -->
<div class="modal fade" id="job-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Phân công việc</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Deadline</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Nội dung</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Phân công</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Username</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Email address</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Thêm</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->

<div class="content">
    <div class="container-fluid">
        <div class="row mb-5" style="display:flex; justify-content:center;">
            <button class="btn btn-success" data-toggle="modal" data-target="#add-user">
                <i class="material-icons">add</i>
                Thêm BTV
            </button>
            <button class="btn btn-danger">
                <i class="material-icons">delete</i>
                Xóa BTV
            </button>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card card-profile card-common">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="/img/user.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">BTV MUTV</h6>
                        <h4 class="card-title">Quang Le</h4>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, praesentium?
                        </p>
                        <a href="#" data-toggle="modal" data-target="#job-user" class="btn btn-warning btn-round">Phân
                            công</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-common">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="/img//thai.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">BTV MUTV</h6>
                        <h4 class="card-title">Thai Le</h4>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, praesentium?
                        </p>
                        <a href="#" data-toggle="modal" data-target="#job-user" class="btn btn-warning btn-round">Phân
                            công</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-common">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="/img/user.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">BTV MUTV</h6>
                        <h4 class="card-title">Si Huynh</h4>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, praesentium?
                        </p>
                        <a href="#" data-toggle="modal" data-target="#job-user" class="btn btn-warning btn-round">Phân
                            công</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card card-profile card-common">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="/img/user.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">BTV MUTV</h6>
                        <h4 class="card-title">Quang Le</h4>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, praesentium?
                        </p>
                        <a href="#" data-toggle="modal" data-target="#job-user" class="btn btn-warning btn-round">Phân
                            công</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-common">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="/img/thai.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">BTV MUTV</h6>
                        <h4 class="card-title">Thai Le</h4>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, praesentium?
                        </p>
                        <a href="#" data-toggle="modal" data-target="#job-user" class="btn btn-warning btn-round">Phân
                            công</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-common">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="/img/user.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">BTV MUTV</h6>
                        <h4 class="card-title">Si Huynh</h4>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, praesentium?
                        </p>
                        <a href="#" data-toggle="modal" data-target="#job-user" class="btn btn-warning btn-round">Phân
                            công</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>