<div class="container">
    <header class="header">
        <a href="guest_Home.html">
            <img src="/img/logo-khtn.png" alt="minimum logo" class="logo">
        </a>

        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="Tìm kiếm ...">

            <button class="search__button">
                <svg class="search__icon">
                    <use xlink:href="/img/symbol.svg#icon-magnifying-glass"></use>
                </svg>
            </button>
        </form>

        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/img/symbol.svg#icon-bookmark"></use>
                </svg>
                <span class="user-nav__notification">1</span>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/img/symbol.svg#icon-mail"></use>
                </svg>
                <span class="user-nav__notification">1</span>
            </div>
            <div class="user-nav__user">
                <img src="/img/user.jpg" alt="User photo" class="user-nav__user-photo">
                <span class="user-nav__user-name">Quang</span>
            </div>
        </nav>
    </header>
    <div class="content">
        <nav class="sidebar">
            <ul class="side-nav">
                <li class="side-nav__item side-nav__item--active">
                    <a href="#" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/img/symbol.svg#icon-home"></use>
                        </svg>
                        <span>Thời sự</span>
                    </a>

                </li>
                <li class="side-nav__item">
                    <a href="#" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/img/symbol.svg#icon-open-book"></use>
                        </svg>
                        <span>Kinh doanh</span>
                    </a>

                </li>
                <li class="side-nav__item">
                    <a href="#" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/img/symbol.svg#icon-paper-plane"></use>
                        </svg>
                        <span>Công nghệ</span>
                    </a>

                </li>
                <li class="side-nav__item">
                    <a href="#" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/img/symbol.svg#icon-rss"></use>
                        </svg>
                        <span>Sống</span>
                    </a>

                </li>
            </ul>

            <div class="legal">
                &copy; 2019 Team Minimum
            </div>
        </nav>
        <main class="main-view">
            <div class="gallery">
                <figure class="gallery__item">
                    <img src="/img/thoisu-tintuc03.jpg" alt="Photo of hotel 1" class="gallery__photo">
                </figure>
            </div>

            <div class="overview">
                <h1 class="overview__heading">
                    Bài báo Thời sự số 1
                </h1>

                <div class="overview__stars">
                    <svg class="overview__icon-star">
                        <use xlink:href="/img/symbol.svg#icon-star"></use>
                    </svg>
                    <svg class="overview__icon-star">
                        <use xlink:href="/img/symbol.svg#icon-star"></use>
                    </svg>
                    <svg class="overview__icon-star">
                        <use xlink:href="/img/symbol.svg#icon-star"></use>
                    </svg>
                    <svg class="overview__icon-star">
                        <use xlink:href="/img/symbol.svg#icon-star"></use>
                    </svg>
                    <svg class="overview__icon-star">
                        <use xlink:href="/img/symbol.svg#icon-star"></use>
                    </svg>
                </div>

                <div class="overview__author">
                    <svg class="overview__icon-author">
                        <use xlink:href="/img/symbol.svg#icon-location-pin"></use>
                    </svg>
                    <button class="btn-follow">Quang Le</button>
                </div>

                <div class="overview__rating">
                    <div class="overview__rating-average">8.6</div>
                    <div class="overview__rating-count">100 likes</div>
                </div>
            </div>

            <div class="detail" style="padding: 0;">
                <div class="description" style="margin-right: 0;">
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis
                        ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae
                        architecto voluptate.
                    </p>
                    <p class="paragraph">
                        Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus,
                        inventore iure aliquid aliquam.
                    </p>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis
                        ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae
                        architecto voluptate.
                    </p>
                    <p class="paragraph">
                        Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus,
                        inventore iure aliquid aliquam.
                    </p>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis
                        ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae
                        architecto voluptate.
                    </p>
                    <p class="paragraph">
                        Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus,
                        inventore iure aliquid aliquam.
                    </p>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis
                        ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae
                        architecto voluptate.
                    </p>
                    <p class="paragraph">
                        Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus,
                        inventore iure aliquid aliquam.
                    </p>
                    <ul class="list">
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Breakfast included</li>
                        <li class="list__item">Free airport shuttle</li>
                        <li class="list__item">Free wifi in all rooms</li>
                        <li class="list__item">Air conditioning and heating</li>
                        <li class="list__item">Pets allowed</li>
                        <li class="list__item">We speak all languages</li>
                        <li class="list__item">Perfect for families</li>
                    </ul>
                    <!-- Begin Tags -->
                    <div>
                        <ul class="tags">
                            Tags:
                            <li><a href="#">Sống</a></li>
                            <li><a href="#">Phát triển bản thân</a></li>
                            <li><a href="#">Suy ngẫm</a></li>
                        </ul>
                    </div>
                    <!-- End Tags -->
                    <div class="recommend">
                        <ul class="comment-section">
                            <li class="comment user-comment">

                                <a class="avatar" href="#">
                                    <img src="/img/user.jpg" width="35" alt="Profile Avatar"
                                        title="Thai Le" />
                                </a>

                                <p>Bình luận abc?</p>

                            </li>

                            <li class="comment author-comment">

                                <a class="avatar" href="#">
                                    <img src="/img/user.jpg" width="35" alt="Profile Avatar"
                                        title="Si Huynh" />
                                </a>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida sem
                                    sit amet molestie portitor.</p>

                            </li>
                            <li class="write-new">

                                <form action="#" method="post">

                                    <textarea placeholder="Viết bình luận" name="comment"></textarea>

                                    <div>
                                        <img src="/img/user.jpg" width="35" alt="Profile of Quang Le"
                                            title="Quang Le" />
                                        <button type="submit">Submit</button>
                                    </div>

                                </form>

                            </li>

                        </ul>
                    </div>
                </div>

                <div class="user-reviews">
                    <figure class="review">
                        <blockquote class="review__text">
                            Bài thời sự số 2
                        </blockquote>
                        <img style="margin-bottom: 2rem;" src="/img/thoisu-tintuc03.jpg"
                            alt="Photo of hotel 1" class="gallery__photo">
                        <figcaption class="review__user">
                            <img src="/img/user.jpg" alt="User 1" class="review__photo">
                            <div class="review__user-box">
                                <p class="review__user-name">Thái Lê</p>
                                <p class="review__user-date">26/04/2019</p>
                            </div>
                            <div class="review__rating">7.8</div>
                        </figcaption>
                    </figure>

                    <figure class="review">
                        <blockquote class="review__text">
                            Bài thời sự số n
                        </blockquote>
                        <img style="margin-bottom: 2rem;" src="/img/thoisu-tintuc03.jpg"
                            alt="Photo of hotel 1" class="gallery__photo">
                        <figcaption class="review__user">
                            <img src="/img/user.jpg" alt="User 1" class="review__photo">
                            <div class="review__user-box">
                                <p class="review__user-name">Sĩ Huỳnh</p>
                                <p class="review__user-date">26/04/2019</p>
                            </div>
                            <div class="review__rating">9.3</div>
                        </figcaption>
                    </figure>
                    <figure class="review">
                        <blockquote class="review__text">
                            Bài thời sự số n
                        </blockquote>
                        <img style="margin-bottom: 2rem;" src="/img/thoisu-tintuc03.jpg"
                            alt="Photo of hotel 1" class="gallery__photo">
                        <figcaption class="review__user">
                            <img src="/img/user.jpg" alt="User 1" class="review__photo">
                            <div class="review__user-box">
                                <p class="review__user-name">Sĩ Huỳnh</p>
                                <p class="review__user-date">26/04/2019</p>
                            </div>
                            <div class="review__rating">9.3</div>
                        </figcaption>
                    </figure>

                    <button class="btn-follow">Xem tất cả<span>&rarr;</span></button>
                </div>
            </div>

            <div class="cta">
                <h2 class="cta__book-now">
                    Đăng kí để nhận những bài báo hot nhất
                </h2>
                <button class="btn">
                    <span class="btn__visible">Đăng kí</span>
                    <span class="btn__invisible">Tài khoản VIP</span>
                </button>
            </div>
        </main>
    </div>
</div>