

    <div class="content">
        <nav class="sidebar">
            <ul class="side-nav">
                <li class="side-nav__item side-nav__item--active">
                    <a href="#" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/img/symbol.svg#icon-home"></use>
                        </svg>
                        <span>Thời sự</span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="#" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/img/symbol.svg#icon-open-book"></use>
                        </svg>
                        <span>Kinh doanh</span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="#" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/img/symbol.svg#icon-paper-plane"></use>
                        </svg>
                        <span>Công nghệ</span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="#" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/img/symbol.svg#icon-rss"></use>
                        </svg>
                        <span>Sống</span>
                    </a>
                </li>
            </ul>

            <div class="legal">
                &copy; 2019 Team Minimum
            </div>
        </nav>

        <main class="main-view">
            <div class="overview" style="background-image: linear-gradient(to right,  #56CCF2, #2F80ED );">
                <h1 class="overview__heading">
                    Chuyên mục Thời sự
                </h1>
                <div class="overview__rating">
                    <div class="overview__rating-average">50+</div>
                    <div class="overview__rating-count">Bài viết</div>
                </div>
            </div>

            <div class="detail" style="padding: 0">
                <div class="main-posts">
                    <div class="card border-0 mb-5">
                        <div class="post-image-frame">
                            <img src="/img/thoisu-tintuc03.jpg" alt="Tin thoi su" class="post-image">
                        </div>
                        <div class="card-body px-3 pb-2 d-flex flex-column">
                            <h2 class="pt-3">
                                <a class="post-title" href="/post">"Tân cá mập" Shark Tank mùa 3</a>
                            </h2>
                            <p class="card-text">
                                Các bạn khởi nghiệp ở độ tuổi trẻ, gần như không có kinh nghiệm, quá tin người thì
                                hay bị
                                thất bại.
                            </p>
                            <div>
                                <small style="font-size: 80%;" class="d-block"><a class="text-success" href="#">THỜI SỰ</a></small>
                                <small style="font-size: 80%;" class="text-muted">21/04/2019 &middot; 5 phút đọc</small>
                            </div>
                            <!-- Begin Tags -->
                            <div>
                                <ul class="tags">
                                    <li><a href="#">Thời sự</a></li>
                                    <li><a href="#">Tin tức</a></li>
                                </ul>
                            </div>
                            <!-- End Tags -->
                        </div>
                    </div>
                    <h4 class="font-weight-bold spanborder" style="text-transform:uppercase"><span>Mới nhất</span>
                    </h4>
                    <div class="mb-3 related-post">
                        <div style="flex:1" class="pr-3">
                            <h2 style="font-size: 17px;" class="mb-1 h4 font-weight-bold">
                                <a class="related-post-title" href="/post">Vì sao Bộ GD lúng túng xử lý
                                    thí sinh
                                    gian lận thi cử?</a>
                            </h2>
                            <p style="font-size:14px;">
                                Sau gần 1 tháng công bố số thí sinh vi phạm nhưng đến giờ Bộ GD-ĐT và các trường đại
                                học
                            </p>
                            <div class="card-text text-success small">
                                THỜI SỰ
                            </div>
                            <small style="font-size: 80%;" class="text-muted">01/04/2019 · 5 phút đọc</small>
                            <!-- Begin Tags -->
                            <div>
                                <ul class="tags">
                                    <li><a href="#">Thời sự</a></li>
                                    <li><a href="#">Tin tức</a></li>
                                </ul>
                            </div>
                            <!-- End Tags -->
                        </div>
                        <div style="flex:1">
                            <img class="my-image" src="/img/thoisu-tintuc03.jpg">
                        </div>
                    </div>
                    <hr class="mb-3">
                    <div class="mb-3 related-post">
                        <div style="flex:1" class="pr-3">
                            <h2 style="font-size: 17px;" class="mb-1 h4 font-weight-bold">
                                <a class="related-post-title" href="/post">Vì sao Bộ GD lúng túng xử lý
                                    thí sinh
                                    gian lận thi cử?</a>
                            </h2>
                            <p style="font-size:14px;">
                                Sau gần 1 tháng công bố số thí sinh vi phạm nhưng đến giờ Bộ GD-ĐT và các trường đại
                                học
                            </p>
                            <div class="card-text text-success small">
                                THỜI SỰ
                            </div>
                            <small style="font-size: 80%;" class="text-muted">01/04/2019 · 5 phút đọc</small>
                            <!-- Begin Tags -->
                            <div>
                                <ul class="tags">
                                    <li><a href="#">Thời sự</a></li>
                                    <li><a href="#">Tin tức</a></li>
                                </ul>
                            </div>
                            <!-- End Tags -->
                        </div>
                        <div style="flex:1">
                            <img class="my-image" src="/img/thoisu-tintuc03.jpg">
                        </div>
                    </div>
                    <hr class="mb-3">
                    <div class="mb-3 related-post">
                        <div style="flex:1" class="pr-3">
                            <h2 style="font-size: 17px;" class="mb-1 h4 font-weight-bold">
                                <a class="related-post-title" href="/post">Vì sao Bộ GD lúng túng xử lý
                                    thí sinh
                                    gian lận thi cử?</a>
                            </h2>
                            <p style="font-size:14px;">
                                Sau gần 1 tháng công bố số thí sinh vi phạm nhưng đến giờ Bộ GD-ĐT và các trường đại
                                học
                            </p>
                            <div class="card-text text-success small">
                                THỜI SỰ
                            </div>
                            <small style="font-size: 80%;" class="text-muted">01/04/2019 · 5 phút đọc</small>
                            <!-- Begin Tags -->
                            <div>
                                <ul class="tags">
                                    <li><a href="#">Thời sự</a></li>
                                    <li><a href="#">Tin tức</a></li>
                                </ul>
                            </div>
                            <!-- End Tags -->
                        </div>
                        <div style="flex:1">
                            <img class="my-image" src="/img/thoisu-tintuc03.jpg">
                        </div>
                    </div>
                    <hr class="mb-3">

                    <div class="mb-3 related-post">
                        <div style="flex:1" class="pr-3">
                            <h2 style="font-size: 17px;" class="mb-1 h4 font-weight-bold">
                                <a class="related-post-title" href="/post">Vì sao Bộ GD lúng túng xử lý
                                    thí sinh
                                    gian lận thi cử?</a>
                            </h2>
                            <p style="font-size:14px;">
                                Sau gần 1 tháng công bố số thí sinh vi phạm nhưng đến giờ Bộ GD-ĐT và các trường đại
                                học
                            </p>
                            <div class="card-text text-success small">
                                THỜI SỰ
                            </div>
                            <small style="font-size: 80%;" class="text-muted">01/04/2019 · 5 phút đọc</small>
                            <!-- Begin Tags -->
                            <div>
                                <ul class="tags">
                                    <li><a href="#">Thời sự</a></li>
                                    <li><a href="#">Tin tức</a></li>
                                </ul>
                            </div>
                            <!-- End Tags -->
                        </div>
                        <div style="flex:1">
                            <img class="my-image" src="/img/thoisu-tintuc03.jpg">
                        </div>
                    </div>
                    <hr class="mb-3">
                    <div class="mb-3 related-post">
                        <div style="flex:1" class="pr-3">
                            <h2 style="font-size: 17px;" class="mb-1 h4 font-weight-bold">
                                <a class="related-post-title" href="/post">Vì sao Bộ GD lúng túng xử lý
                                    thí sinh
                                    gian lận thi cử?</a>
                            </h2>
                            <p style="font-size:14px;">
                                Sau gần 1 tháng công bố số thí sinh vi phạm nhưng đến giờ Bộ GD-ĐT và các trường đại
                                học
                            </p>
                            <div class="card-text text-success small">
                                THỜI SỰ
                            </div>
                            <small style="font-size: 80%;" class="text-muted">01/04/2019 · 5 phút đọc</small>
                            <!-- Begin Tags -->
                            <div>
                                <ul class="tags">
                                    <li><a href="#">Thời sự</a></li>
                                    <li><a href="#">Tin tức</a></li>
                                </ul>
                            </div>
                            <!-- End Tags -->
                        </div>
                        <div style="flex:1">
                            <img class="my-image" src="/img/thoisu-tintuc03.jpg">
                        </div>
                    </div>
                    <hr class="mb-3">
                    <!-- Start Pagination -->
                    <div style="display:flex; justify-content:center;">
                        <ul class="pagination">
                            <li><a href="#">&lt;</a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                    <!-- End Pagination -->
                </div>
                <div class="main-infos">
                    <div class="sticky-top">
                        <div class="mb-5">
                            <h4 class="font-weight-bold">Thời sự</h4>
                            <p style="font-weight:200;">
                                Nhanh, Nóng hổi, 24h
                            </p>
                            <a style="background-image: linear-gradient(to left,  #56CCF2, #2F80ED  );"
                                class="btn px-5 mb-3" href="#">
                                <span>Follow</span>
                            </a>
                            <p style="font-weight:200;">
                                Nhấn "Theo dõi" để cập nhật những tin tức mới nhất
                            </p>
                        </div>
                        <h5 style="font-size:13px; text-transform: uppercase;" class="mb-3 font-weight-bold spanborder">
                            <span>Chuyên mục liên quan</span>
                        </h5>
                        <ul class="mt-4 mb-5" style="text-transform:uppercase; font-size: 12px; list-style-type: none;">
                            <li>Tin tức</li>
                            <li>Pháp luật</li>
                        </ul>
                        <h5 style="font-size:13px; text-transform: uppercase;" class="mb-3 font-weight-bold spanborder">
                            <span>Bài viết nổi bật</span>
                        </h5>

                        <div class="mb-3 popular-post">
                            <div class="popular-content pr-2">
                                <h2 class="mb-1 h4 font-weight-bold">
                                    <a class="related-post-title" href="/post">Vì sao Bộ GD</a>
                                </h2>
                                <small style="font-size: 80%;" class="text-muted">5 phút đọc</small>
                            </div>
                            <div class="popular-image">
                                <img src="/img/thoisu-tintuc03.jpg">
                            </div>
                        </div>
                        <div class="mb-3 popular-post">
                            <div class="popular-content pr-2">
                                <h2 class="mb-1 h4 font-weight-bold">
                                    <a class="related-post-title" href="/post">Vì sao Bộ GD</a>
                                </h2>
                                <small style="font-size: 80%;" class="text-muted">5 phút đọc</small>
                            </div>
                            <div class="popular-image">
                                <img src="/img/thoisu-tintuc03.jpg">
                            </div>
                        </div>
                        <div class="mb-3 popular-post">
                            <div class="popular-content pr-2">
                                <h2 class="mb-1 h4 font-weight-bold">
                                    <a class="related-post-title" href="/post">Vì sao Bộ GD</a>
                                </h2>
                                <small style="font-size: 80%;" class="text-muted">5 phút đọc</small>
                            </div>
                            <div class="popular-image">
                                <img src="/img/thoisu-tintuc03.jpg">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="cta">
                <h2 class="cta__book-now">
                    Đăng kí để nhận những bài báo hot nhất
                </h2>
                <button class="btn">
                    <span class="btn__visible">Đăng kí</span>
                    <span class="btn__invisible">Tài khoản VIP</span>
                </button>
            </div>

        </main>
    </div>
