
<div class="content">
 <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button type="button" id="sidebarCollapse" class="btn btn-secondary">
    <i class="fa fa-align-justify"></i> <span></span>
  </button>

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarNav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a style="font-family: arial; color: #EEEEEE; font-size: 18px;" class="nav-link" href="../guest/guest_Home.html"><b>Trang chủ</b></a>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" data-target="#logOut" style="font-family: arial; color: #EEEEEE; font-size: 18px" class="nav-link" href="#"><b>Đăng xuất</b></a>
      </li>
    </ul>
  </div>
</nav>

<span class="font-weight-normal">Tên bài viết</span>
<span class="text-danger">*</span>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-flag-o"></i>
    </button>
  </div>
  <input type="text" class="form-control" value="Vì sao Bộ GD lúng túng xử lý thí sinh gian lận thi cử?" aria-label="Username" aria-describedby="basic-addon1">
</div>

<span class="font-weight-normal">Chủ đề</span>
<span class = "text-danger">*</span>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-folder-o"></i>
    </button>
  </div>
  <input type="text" class="form-control" value="Thời sự" aria-label="Username" aria-describedby="basic-addon1">
</div>

<span class="font-weight-normal">Nhãn dán</span>
<span class = "text-danger">*</span>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-tags"></i>
    </button>
  </div>
  <input type="text" class="form-control" value="Nóng hổi" aria-label="Username" aria-describedby="basic-addon1">
</div>

<span class="font-weight-normal">Tóm tắt</span>
<span class = "text-danger">*</span>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-book"></i>
    </button>
  </div>
  <input type="text" class="form-control" value="Sau gần 1 tháng công bố số thí sinh vi phạm nhưng đến giờ Bộ GD-ĐT và các trường đại học đều lúng túng trong việc xử lý những thí sinh này." aria-label="Username" aria-describedby="basic-addon1">
</div>

<form action="submit" method="post"> 
  <textarea name="editor" cols="200" rows="10">
    Termsheet business model canvas user experience churn rate low hanging fruit backing iteration buyer seed money. Virality release launch party channels validation learning curve paradigm shift hypotheses conversion. Stealth leverage freemium venture startup business-to-business accelerator market.

    Gen-z strategy long tail churn rate seed money channels user experience incubator startup partner network low hanging fruit direct mailing. Client backing success startup assets responsive web design burn rate A/B testing metrics first mover advantage conversion.
    Freemium non-disclosure agreement lean startup bootstrapping holy grail ramen MVP iteration accelerator. Strategy market ramen leverage paradigm shift seed round entrepreneur crowdfunding social proof angel investor partner network virality.
  </textarea>
  <div class = "submit">
    <input type="submit" value="Hiệu chỉnh" name="submit_post">
  </div>
</form> 
</div>

<!-- Log out modal -->
<div class="modal fade" id="logOut" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">Bạn có muốn đăng xuất?</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><a href="#">Đóng</a></button>
        <button type="button" class="btn btn-info" data-dismiss="modal"><a href="#">Đồng ý</a></button>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="profile-user">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Xem thông tin</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label class="bmd-label-floating">Email</label>
              <input type="text" class="form-control" value="lequocthai1998@gmail.com">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Mật khẩu</label>
              <input type="password" class="form-control" value="123465789">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label class="bmd-label-floating">Họ và tên</label>
              <input type="text" class="form-control" value="Lê Quốc Thái">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Ngày sinh</label>
              <input type="date" class="form-control" value="1998-05-26">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label class="bmd-label-floating">Địa chỉ</label>
              <input type="text" class="form-control" value="333 Lý Thái Tổ, quận 10, TPHCM">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Công ty</label>
              <input type="text" class="form-control" value="ABC">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cập nhật</button>
        </div>
      </div>
    </div>
  </div>
</div>

