<div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fa fa-align-justify"></i> <span></span>
        </button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a style="font-family: arial; color: #EEEEEE; font-size: 18px;" class="nav-link"
                        href="../guest/guest_Home.handlebars"><b>Trang chủ</b></a>
                </li>
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#logOut"
                        style="font-family: arial; color: #EEEEEE; font-size: 18px" class="nav-link" href="#"><b>Đăng
                            xuất</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <form action="/writer/create" enctype="multipart/form-data" method="POST">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-flag-o"></i>
                </button>
            </div>
            <input type="text" class="form-control" placeholder="Tiêu đề" id="title" name="title"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-folder-o"></i>
                </button>
            </div>
            <input type="text" class="form-control" placeholder="Chuyên mục" id="category" name="category"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-tags"></i>
                </button>
            </div>
            <input type="text" class="form-control" placeholder="Gán nhãn" id="tag" name="tag"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-book"></i>
                </button>
            </div>
            <input type="text" class="form-control" placeholder="Tóm tắt nội dung" id="shortContent" name="shortContent"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input required class="form-control" type="file" name="image" id="image">
        </div>

        <textarea name="content" cols="200" rows="10">Noi dung chi tiet</textarea>
        <div class="submit">
            <input type="submit" value="Đăng bài">
        </div>
    </form>




</div>



<!-- Log out modal -->
<div class="modal fade" id="logOut" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Bạn có muốn đăng xuất?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><a href="#">Đóng</a></button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><a href="#">Đồng ý</a></button>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="profile-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xem thông tin</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input type="text" class="form-control" value="lequocthai1998@gmail.com">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="bmd-label-floating">Mật khẩu</label>
                            <input type="password" class="form-control" value="123465789">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="bmd-label-floating">Họ và tên</label>
                            <input type="text" class="form-control" value="Lê Quốc Thái">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="bmd-label-floating">Ngày sinh</label>
                            <input type="date" class="form-control" value="1998-05-26">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="bmd-label-floating">Địa chỉ</label>
                            <input type="text" class="form-control" value="333 Lý Thái Tổ, quận 10, TPHCM">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="bmd-label-floating">Công ty</label>
                            <input type="text" class="form-control" value="ABC">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</div>