<div class="sidebar" data-color="orange" data-background-color="black" data-image="/img/sidebar-4.jpg">
    <div class="logo">
        <a href="#" class="simple-text logo-normal">
            <img style="width:150px; height:110px" src="/img/logo-khtn.png" alt="">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  active">
                <a class="nav-link" href="./dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <p>Trang chủ</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./profile.html">
                    <i class="material-icons">perm_contact_calendar</i>
                    <p>Profile</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./writer.html">
                    <i class="material-icons">person</i>
                    <p>Phóng viên</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./editor.html">
                    <i class="material-icons">supervisor_account</i>
                    <p>Biên tập viên</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./premium-user.html">
                    <i class="material-icons">face</i>
                    <p>Độc giả</p>
                </a>
            </li>

        </ul>
    </div>
</div>