
.category-navigation {
    background: #fd9;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

ul.tags {
    list-style:none;
    padding-left:0;
    margin:0 0 1.2rem 0;
}
ul.tags li {
    display:inline-block;
    font-size:0.9rem;
}
ul.tags li a {
    background:rgba(0,0,0,.05);
    color:rgba(0,0,0,.6);
    border-radius:3px;
    padding: 5px 15px;
}

ul.tags li a:hover {
	background:rgba(0,0,0,.07);
	text-decoration:none;
}

.my-image {
    transition: all .2s ease-in-out; 
}

.my-image:hover { transform: scale(1.1); }

ol.list-featured {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 0; 
}
  
 ol.list-featured li {
    counter-increment: my-awesome-counter;
    display: flex;
    font-size: 0.8rem; 
}
  
ol.list-featured li:before {
    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 0.5rem;
    font-family: 'Abril Fatface', serif;
    line-height: 1; 
}