/*Main CSS to custom*/

/* =============== GENERAL =============== */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* padding-top: 5rem; */
    color: #212529;
    line-height: 1.6;
    background-color: #fff;
}

a {
    color: inherit;
    font-size: inherit;
}
a:hover {
    color: #03a87c;
    text-decoration: none; 
    background-color: transparent;
}
/*=========================================*/

/* ============= NAVBAR ==================*/
nav {
    padding: 0;
    width: 100%;
}

@media (min-width:992px) {
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-right:.7rem;
		padding-left: .7rem;
	}
}

.navigation {
	background:rgba(255,255,255,.97);
	box-shadow:0 2px 2px -2px rgba(0,0,0,.15);
}

.form-inline {
    margin-left: 15px;
}

.form-inline .btn {
    margin-left: -50px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.form-control {
    font-size: 0.8rem;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .04);
}

a:hover {
	transition:all 0.2s;
}

ul {
    list-style: none;
}

li {
    margin-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color:rgba(255,255,255, .97);
    z-index: 1;
    width: 100%;
}
/* =======================================*/

/* ============= HEADER ==================*/

.main-header {
    width: 1208px;
    /* position: relative; */
    margin-right: 27px;
    margin-left: 27px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

/* =======================================*/


/* ============= SIGNUP ==================*/
.signup {
    width: 80%;
    background: #FAFAFA;
    margin-left:115px; 
    margin-right:115px;
}

.title-signup {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 2.5rem;
}

input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 5px 20px;
}

.btn-signup {
    background: #212529;
    color: #fff;
}



.share {
	text-align:center;
	margin-top:20px;
}
.share p {
	margin-bottom:10px;
	font-size:0.95rem;
}
.share {
	display:none;
}
.share ul li {
	display:inline-block;
	margin-bottom:5px;
}
.share ul {
	padding-left:0;
	margin-left:0;
}
.svgIcon-use {
	vertical-align:middle;
}
@media (min-width:1024px) {
	.share {
		position:fixed;
		display:block;
	}
	.share ul li {
		display:block;
	}
}
.share,.share a {
	color:rgba(0,0,0,.44);
	fill:rgba(0,0,0,.44);
}

.sep {
	height:1px;
	width:20px;
	background:#999;
	margin:0px auto;
	margin-bottom:1.2rem;
}

.mainheading {
	padding:1rem 0rem;
}

.post-top-meta {
	margin-bottom:2rem;
}
.post-top-meta .author-thumb {
	width:72px;
	height:72px;
}
.post-top-meta.authorpage .author-thumb {
	margin-top:40px;
}
.post-top-meta span {
	font-size:0.9rem;
	color:rgba(0,0,0,.44);
	display:inline-block;
}
.post-top-meta .author-description {
	margin-bottom:5px;
	margin-top:5px;
	font-size:0.95rem;
}

.author-thumb {
	width:40px;
	height:40px;
	float:left;
	margin-right:13px;
	border-radius:100%;
}

.btn.follow {
	border-color:#02B875;
	color:#1C9963;
	padding:3px 10px;
	text-align:center;
	border-radius:999em;
	font-size:0.85rem;
	display:inline-block;
}

.btn.follow {
	margin-left:5px;
	margin-top:-4px;
}

.link-dark {
	color:rgba(0,0,0,.8);
}

.post-date {
    display: inline-block;
    color:rgba(0,0,0,.44);
}

.dot:after {
	content:"·";
	margin-left:3px;
	margin-right:3px;
}

