/*Main CSS to custom*/

/* =============== GENERAL =============== */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 10rem;
    color: #212529;
    line-height: 1.6;
    background-color: #fff;
}

/*=========================================*/

/* ============= NAVBAR ==================*/
.combine-nav {
    width: 1250px;
    height: 130px;
    display: flex;
    flex-direction: column;
}

.top-nav {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 95px;
    margin-right: 95px;
    color: rgba(0,0,0,.54);
    background: #fff;
    height: 65px;
    width: 1024px;
    display: flex;

}

.navbar-brand {
    margin: 8px;
}

.bottom-nav {
    display: flex;
    width: 1024px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 95px;
    margin-right: 95px;
    color: rgba(0,0,0,.54);
    background: #fff;
}

.navbar-nav li {
    margin-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-inline {
    margin-left: 15px;
}

.form-inline .btn {
    margin-left: -50px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.form-control {
    font-size: 0.8rem;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .04);
}

a:hover {
	transition:all 0.2s;
}


.mainheading {
    padding:1rem 0rem;
    width: 100%;
    max-width: 1208px;
    border:1px solid rgba(0,0,0,.15);
}





