<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Title -->
    <title>minimum &mdash; E-magazine for you 24/7 - Chi tiet bai viet</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    {{> guest/v2/header }}

    
    {{{ body }}}

    {{> guest/v2/footer }}

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/guest/jquery/jquery-2.2.4.min.js"></script>

    <!-- Popper js -->
    <script src="/js/guest/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/guest/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/guest/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/guest/active.js"></script>

</body>

</html>