/*
COLORS

Primary: #F7C948
Primary light: #FADB5F
Primary dark: #FOB429

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Gray dark 3: #999

Shadow dark: 0 2rem 6rem rgba(0,0,0,.3);

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px


*/

/*====================
    BASE
=====================*/

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom , #FADB5F, #F0B429);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200vh;
}


/*====================
    LAYOUT
=====================*/
.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color:  #f4f2f2;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    min-height: 150rem;  
    padding: 0;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom:  #f4f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-navbar {
    font-size: 1.2rem;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 1rem;
    position: relative;
}

.main-nav {
    list-style-type: none;
    display: none;
    margin: 0;
}

.main-nav__link,
.logo-brand {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 1.2rem auto;
}

.logo-brand {
    font-size: 1.4rem;
    margin-top: 1.2rem;
    margin-left: 1.4rem;
    display: inline-block;
}

.my-navbar-toggle {
    position: absolute;
    cursor: pointer; 
    right: 0;
    margin-right: 1.4rem;
    color: rgba(255,255,255,0.8);
    font-size: 2.4rem;
}

.active {
    display: block;
}

/* MAIN POST */

.content-post {
    display: flex;
    margin-top: 2.5rem;
}

.hot-post {
    display: flex;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.hot-post__image {
    display: flex;
}

.hot-post__image img {
    display: block;
    width: 100%;
    height: 50%;
}

.hot-post__content {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.hot-post-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 1.2rem;
    align-content: space-between;
}

.card-2 {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.hot-post__image-2 {
    flex: 1;
    padding-right: 0.9rem;
}

.hot-post__image-2 img {
    display: block;
    width: 100%;
}

.hot-post__content-2 {
    flex: 2;
}

.main-gallery {
    flex: 1;
    padding-left: 1.2rem;
}

.carousel-inner {
    background-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    padding: 2px;
}

.spanborder {
    border-bottom: 1px solid #faf9f9;
    margin-bottom: 2rem; 
}
  
.spanborder p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: -1px; 
}

.another-posts {
    display: flex;
    flex-direction: row;
    margin: 2rem 4rem;
}

.list-posts {
    flex: 2;
    margin-right: 2rem;
    flex-direction: column;
}

.list-post-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-post-item__content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.list-post-item__image {
    flex: 1;
}

.list-post-item__image img {
    display: block;
    width: 100%;
}
.new-posts {
    flex: 1;
}

.new-post-item {
    display: flex;
    flex-direction: row;
}

.new-post-item__number {
    flex: 1;
    font-size: 2.8rem;
    text-align: center;
    color: #777;
}

.new-post-item__content {
    flex: 2;
}

/*------------------------------------*/
.main-view {
    background-color: #fff;
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: #faf9f9;
    border-bottom: 1px solid #f4f2f2;
}

.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    padding: 3rem;
    flex: 0 0 69%;
    margin-right: 4.5rem;
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}





/*TAGS*/
ul.tags {
    list-style:none;
    padding-left:0;
    margin:0 0 1.2rem 0;
}
ul.tags li {
    display:inline-block;
    font-size:0.9rem;
}
ul.tags li a {
    background-image: linear-gradient(to right bottom , #FADB5F, #F0B429);;
    color:rgba(0,0,0,.6);
    border-radius:3px;
    padding: 5px 15px;
    text-decoration: none;
}

ul.tags li a:hover {
	background-image: linear-gradient(to left,#FADB5F , #F0B429);;
}




/*====================
    COMPONENTS
=====================*/
/* LOGO */
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

/*---------------------*/

/* SEARCH */
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    padding: .7rem 2rem;
    border: none;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem;
}

.search__input:focus {
    outline: none;
    width: 100%;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 400;
    color: #ccc;
}

.search__input:focus + .search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;

}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999;
}

/*---------------------*/

/* USER NAVIGATION */
.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
}

.user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-nav > *:hover {
    background-color: #f4f2f2;
}

.user-nav__icon-box {
    position: relative;
    
}

.user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #777;
}

.user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #F7C948;
    color: #333;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
}

/*---------------------*/

/* LEGAL */
.legal {
    font-size: 1.2rem;
    color: #ccc;
    text-align: center;
    padding: 2.5rem;
}
/*---------------------*/

/* GALLERY */
.gallery {
    display: flex;
}

.gallery__photo {
    width: 100%;
    display: block;
}
/*---------------------*/


/* OVERVIEW  */
.overview {
    display: flex;
    align-items: center;
    border-bottom: #ccc;
}

.overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
}

.overview__stars {
    margin-right: auto;
    display: flex;
}

.overview__icon-star,
.overview__icon-author {
    width: 1.75rem;
    height: 1.75rem;
    fill: #F7C948;    
}

.overview__author {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center;
}

.overview__icon-author {
    margin-right: .5rem;
}

.overview__rating {
    background-color: #F7C948;
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overview__rating-avarage {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
}

.overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

}

/*---------------------*/

.btn-follow {
    border: none;
    color: #2367AE;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
}

.btn-follow + span {
    margin-left: 3px;
    transition: .2s;
}

.btn-follow:hover {
    color: #777;
}

.btn-follow:hover span {
    margin-left: 8px;
}

.btn-follow:focus {
    outline: none;
}

/* PARAGRAPH */

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}
/************************/

/* LIST */
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid #f4f2f2;
    border-bottom: 1px solid #f4f2f2;

    display: flex;
    flex-wrap: wrap;
}

.list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
}

.list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    background-image: url(../img/SVG/emoji-happy.svg);
    background-size: cover;
}

/************************/
/* RECOMMEND */
.recommend {
    font-size: 1.3rem;
    color: #999;
    display: flex;
    align-items: center;
}

.recommend__count {
    margin-right: auto;
}

.recommend__friends {
    display: flex;
}

.recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
}

.recommend__photo:not(:last-child) {
    margin-right: -2rem;
}
/************************/

/* REVIEWS */
.review {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
}

.review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
}

.review__user {
    display: flex;
    align-items: center;
}

.review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.review__user-box {
    margin-right: auto;
}

.review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
}

.review__user-date {
    font-size: 1rem;
    color: #999;
}

.review__rating {
    color: #F7C948;
    font-size: 2.2rem;
    font-weight: 300;
}

.review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: #f4f2f2;
    font-family: sans-serif;
    z-index: 1;
}

/*------------------------------*/


/* CTA */
.cta {
    padding: 3.5rem 0;
    text-align: center;
}

.cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

/*-----------------------------*/

/* BUTTON */
.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
}

.btn__visible {
    padding: 2rem 7.5rem;
}

.btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
}

.btn:hover {
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.btn:hover .btn__visible {
    transform: translateX(100%);
}
.btn:hover .btn__invisible {    
    top: 0;
}

.btn:focus {
    outline: none;
}

/*-----------------------------*/

/* =========== MEDIA QUERIES =============== 
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px
*/


/* $bp-largest */
@media only screen and (max-width: 75em) {
    .container {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

}


/* $bp-large */
@media only screen and (max-width: 68.75em) {
    html {
        font-size: 50%;
    }
    
    .header {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
 
}

/* $bp-medium */
@media only screen and (max-width: 56.25em) {
    .content {
        flex-direction: column;
    }
    .detail {
        padding: 3rem;
    }
    .description {
        padding: 2rem;
        margin-right: 3rem;
    }

    .side-nav {
        display: flex;
        margin: 0;
    }

    .side-nav__item {
        flex: 1;
    }

    .side-nav__item:not(:last-child) {
        margin: 0;
    }

    .side-nav__link:link,
    .side-nav__link:visited {
        justify-content: center;
        padding: 2rem;
    }

    .legal {
        display: none;
    }

    .review {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .cta {
        padding: 2.5rem 0;
    }

}

/* $bp-small */
@media only screen and (max-width: 37.5em) {
    .content {
        flex-direction: column;
    }
    .detail {
        flex-direction: column;
    }
    .description {
        margin-right: 0;
        margin-bottom: 3rem;
    }
    .side-nav__link:link,
    .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem;
    }

    .side-nav__icon {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem;
    }

    .overview__rating {
        padding: 0 1.5rem;
    }

    .overview__rating-avarage {
        font-size: 1.8rem;
    }

    .overview__rating-count {
        font-size: .5rem;
    }

    .content-post {
        display: flex;
        flex-direction: column;
    }

    .hot-post,
    .hot-post-2 {
        margin-bottom: 1rem;
    }

    .another-posts {
        display: flex;
        flex-direction: column;
    }

    .list-post-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* $bp-smallest */
@media only screen and (max-width: 31.25em) {
    .header {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }

    .side-nav__item__dropdown {
        display: none;
    }
    .search {
        order: 1;
        flex: 0 0 100%;
        background-color: #f4f2f2;
    }

}


@media screen and (min-width: 768px) {
    .my-navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav__link {
        margin: 0;
        text-transform: uppercase;
        margin-left: 40px;
    }

    .main-nav__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-brand {
        margin-top: 0;
    }

    .my-navbar-toggle {
       display: none;
    }

    .logo:hover,
    .main-nav__link:hover {
        color: rgba(255, 255, 255, 1);
    }

}