<nav id="sidebar">
    <ul class="list-unstyled components">
        <div style="color: black;" class="profile text-white text-center">
            <h5>Biên tập viên</h5>
        </div>
        <div class="avt-wrapper">
            <div class="avt">
                <img src="/img/thai.jpg">
            </div>
            <div class="profile text-white d-block mx-auto text-center bottom-border">LÊ QUỐC THÁI</div>
        </div>
        <li class="active">
            <a href="#viewList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-eye-slash"></i>
                <span> Xem bài viết</span>
            </a>
        </li>
        <ul class="collapse list-unstyled" id="viewList">
            <li>
                <a href="editor_view_censored_content.html">Bản draft</a>
            </li>
            <li>
                <a href="editor_view_published_content.html">Bị từ chối</a>
            </li>
            <li>
            <li>
            <li>
                <a href="editor_view_denied_content.html">Được duyệt</a>
            </li>
        </ul>
    </ul>
    </ul>
    </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a data-toggle="modal" data-target="#profile-user" href="#" class="editProfile">Chỉnh sửa profile</a>
        </li>
    </ul>
</nav>