{{#ifvalue user.role equals="WRITER"}}
<nav id="sidebar">
    <ul class="list-unstyled components">
        <div class="profile text-center">Phóng viên báo MUTV</div>
        <div class="avt-wrapper">
            <div class="avt">
                <img src="/img/thai.jpg">
            </div>
            <div class="profile d-block mx-auto text-center bottom-border">{{user.name}}</div>
        </div>
        <li class="nav-item active">
            <a href="/employee/writers/create">
                <i class="fa fa-upload"></i>
                <span> Đăng bài viết</span>
            </a>
        </li>
        <li>
            <a href="#viewList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-eye-slash"></i>
                <span> Xem bài viết</span>
            </a>
            <ul class="collapse list-unstyled" id="viewList">
                <li>
                    <a href="/employee/writers/approved">Đã được duyệt</a>
                </li>
                <li>
                    <a href="/employee/writers/published">Đã xuất bản</a>
                </li>
                <li>
                    <a href="/employee/writers/rejected">Bị từ chối</a>
                </li>
                <li>
                    <a href="/employee/writers/waiting">Chưa được duyệt</a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a data-toggle="modal" data-target="#profile-user" href="#" class="editProfile">Chỉnh sửa profile</a>
        </li>
    </ul>
</nav>

{{/ifvalue}}


{{#ifvalue user.role equals="EDITOR"}}
<nav id="sidebar">
    <ul class="list-unstyled components">
        <div class="profile text-center">Biên tập viên báo MUTV</div>
        <div class="avt-wrapper">
            <div class="avt">
                <img src="/img/thai.jpg">
            </div>
            <div class="profile d-block mx-auto text-center bottom-border">{{user.name}}</div>
        </div>

        <li class="nav-item active">
            <a href="#postContent">
                <i class="fa fa-upload"></i>
                <span>Quản lý Chuyên mục</span>
            </a>
        <li>

        <li class="nav-item active">
            <a href="#postContent">
                <i class="fa fa-download"></i>
                <span>Quản lý Bài viết</span>
            </a>
        <li>

    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a data-toggle="modal" data-target="#profile-user" href="#" class="editProfile">Chỉnh sửa profile</a>
        </li>
    </ul>
</nav>


{{/ifvalue}}

{{#ifvalue user.role equals="ADMIN"}}
<nav id="sidebar">
    <ul class="list-unstyled components">
        <div class="profile text-center">Biên tập viên báo MUTV</div>
        <div class="avt-wrapper">
            <div class="avt">
                <img src="/img/thai.jpg">
            </div>
            <div class="profile d-block mx-auto text-center bottom-border">{{user.name}}</div>
        </div>

        <li class="nav-item">
            <a href="#viewList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-eye-slash"></i>
                <span>Category</span>
            </a>
            <ul class="collapse list-unstyled" id="viewList">
                <li>
                    <a href="/employee/admins/category/">Xem</a>
                </li>
                <li>
                    <a href="/employee/admins/category/create">Tạo mới</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="#viewList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-eye-slash"></i>
                <span>Tag</span>
            </a>
            <ul class="collapse list-unstyled" id="viewList">
                <li>
                    <a href="/employee/admins/tag/">Xem</a>
                </li>
                <li>
                    <a href="/employee/admins/tag/create">Tạo mới</a>
                </li>
            </ul>
        </li>

        <li class="nav-item active">
            <a href="#postContent">
                <i class="fa fa-upload"></i>
                <span>Quản lý Bài viết</span>
            </a>
        </li>

    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a data-toggle="modal" data-target="#profile-user" href="#" class="editProfile">Chỉnh sửa profile</a>
        </li>
    </ul>
</nav>


{{/ifvalue}}