<div class="cta">
    <h2 class="cta__book-now">
        Đăng kí để nhận những bài báo hot nhất
    </h2>
    <button class="btn">
        <span class="btn__visible">Đăng kí</span>
        <span class="btn__invisible">Tài khoản VIP</span>
    </button>
</div>